p,
h1 {
  font-size: 2em;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  // background-color: lightblue;
  padding: 20px 0;

  a {
    color: darkblue;
    border: 3px solid darkblue;
    padding: 0 7%;
    background-color: lightblue;

    &:hover {
      background-color: rgb(89, 127, 155);
    }
  }
}

// Game

#game-div {
  display: flex;
  width: 500px;
  height: 500px;
  background-color: lightblue;

  button {
    width: 10%;
    aspect-ratio: 1 / 1;

    img {
    }
  }
}

button img {
  width: 100%;
  aspect-ratio: 1 / 1;
}
